<%- include('./partials/header') %>
<div class="container">
    <div id="info-message" class="alert alert-dismissible fade show shadow-box">
        <h3><%= title %></h3>
        <p><%= message %></p>
    </div>
</div>
<%- include('./partials/footer') %>
